.profile-main {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  align-items: center;
  text-align: center;
}

.profile-name {
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile-image {
  display: flex;
  width: 225px;
  height: 225px;
  border-radius: 50%;
}

.profile-upload-input-div {
  display: flex;
  margin: 4px;
  justify-content: center;
}

.inputfile {
  display: none;
}

.file-upload-label {
  cursor: pointer;
  display: flex;
  border-radius: 10px;
  width: 190px;
  padding: 5px;
  background-color: #00a8f3;
  align-items: center;
  justify-content: center;
  color: white;
}

.file-upload-label img {
  margin-top: 1px;
  width: 20px;
  height: 20px;
  padding-right: 4px;
}

.file-upload-label span {
  margin-top: 1.5px;
  padding-right: 2px;
}

.about-text-area {
  margin-top: 5px;
  width: 40vw;
  height: 32.5vh;
  padding: 2.5px 0 0 5px;
  border-radius: 10px;
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  
}

.about-placeholder {
  display: block;
  margin: 0 auto 0 auto;
  width: 40vw;
  height: 32.5vh;
}

.profile-about-wrapper {
  display: block;
  margin: 2.5px auto 0 auto;
  width: 40vw;
  height: 32.5vh;
  overflow-y: auto;
  text-align: center;
  word-wrap: break-word;
}

.update-profile-pic-button {
  margin: 7.5px 0 2.5px;
  width: 175px;
  background-color: #00a8f3;
  font-size: 16px;
  color: white;
}

.change-button {
  margin-top: 5px;
  width: 60px;
  background-color: #00a8f3;
  font-size: 16px;
  color: white;
}

.cancel-button {
  margin: 7.5px 0 0 5px;
  width: 60px;
  background-color: #f1f0f0;
  font-size: 16px;
  color: #696969;
}

@media screen and (max-width: 912px) {
  .profile-image {
    width: 200px;
    height: 200px;
  }

  .profile-about-wrapper {
    width: 80vw;
  }
  .profile-about-wrapper {
    width: 80vw;
  }
  .about-placeholder {
    width: 80vw;
  }
  .about-text-area {
    width: 80vw;
  }
}

@media screen and (max-height: 750px) {
  .profile-about-wrapper {
    height: 22.5vh;
  }
  .about-placeholder {
    height: 22.5vh;
  }
  .about-text-area {
    height: 22.5vh;
  }
}


@media screen and (max-height: 625px) {
  .profile-about-wrapper {
    height: 15vh;
  }
  .about-placeholder {
    height: 15vh;
  }
  .about-text-area {
    height: 15vh;
  }
}

@media screen and (max-height: 500px) {
  .profile-about-wrapper {
    height: 10vh;
  }
  .about-placeholder {
    height: 10vh;
  }
  .about-text-area {
    height: 10vh;
  }
}

@media screen and (max-height: 550px) {
  .profile-image {
    width: 150px;
    height: 150px;
  }
  .profile-name{
    font-size: 20px;
  }
}
