* {
  font: "San Francisco";
  padding: 0px;
  margin: 0px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

button{
  padding: 2px;
  border-radius: 2.5px;
}

button:hover {
  cursor: pointer;
}


::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 7.5px;
}


.error {
  color: red;
  display: relative;
  font-size: 16px;
  margin-left: 5px;
}

.general-button {
  color: white;
  background-color: #00a8f3;
  border-color: #00a8f3;
  margin-top: 7.5px;
}

