* {
  font-family: Georgia, "Times New Roman", Times, serif; 
  padding: 0px;
  margin: 0px;
}

html, body{
  height: 95.95%;
  min-height: 95.95%;
  display: flex;
  flex-direction: column;
}

#root{
  height: 100%;
  min-height: 100%;
}

.main{
  min-height: 100%;
  height: 100%;
  padding: 0px;
}

.center {
  text-align: center;
}

.sign-up{
  display: inline-block;
  flex-direction: column;
  align-items: center;
  width: 15%
}

.sign-up-input{
  display: flex;
  flex-direction: column;
  padding: 7.5px;
}

.error {
  color: red;
  font-size: 12px;
  display: relative;
}

.link {
  text-decoration: none;
  color: black;
}

.button:hover{
  cursor: pointer
} 





