* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px;
  margin: 0px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

button {
  padding: 2px;
  outline: none;
  border: none;
  text-align: center;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

.error {
  color: red;
  font-size: 16px;
  font-weight: bold;
  margin: 2.5px 2.5px;
}

.general-button {
  color: white;
  background-color: #00a8f3;
  border-color: #00a8f3;
  margin-top: 7.5px;
  font-size: 16px;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 130px;
}

.center {
  text-align: center;
}

@media (max-width: 768px) {
  button {
    padding: 1px;
  }
}
