* {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

button {
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 2px;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

.error {
  margin: 5px 0 7.5px 0;
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.general-button {
  margin-top: 7.5px;
  border-radius: 10px;
  width: 130px;
  padding: 0 5px 0 5px;
  border-color: #00a8f3;
  background-color: #00a8f3;
  font-size: 16px;
  color: white;
}

.center {
  text-align: center;
}

.frontpage-link {
  text-decoration: none;
}

@media (max-width: 768px) {
  button {
    padding: 1px;
  }

  .error {
    margin: 2.5px 0 2.5px 0;
    font-size: 16px;
  }
}
