.chat-display-chat-parent {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  min-width: 0;
}

.chat-display-chat-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 135px);
}

.chat-display-chat-loading-wrapper {
  display: flex;
  flex: 1 1 1px;
  align-items: center;
  justify-content: center;
}

.chat-display-chat {
  max-height: calc(100vh - 135px);
  margin-top: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.chat-message-wrapper {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 3px;
}

.chat-my-message {
  margin-left: auto;
  max-width: 60%;
  margin-right: 8px;
  color: white;
  background-color: #0099ff;
  padding: 6px 10px 6px 10px;
  border-radius: 15px;
  word-wrap: break-word;
}

.chat-contact-message {
  margin-right: auto;
  background-color: #f1f0f0;
  margin-left: 4px;
  padding: 6px 10px 6px 10px;
  max-width: 60%;
  border-radius: 15px;
  word-wrap: break-word;
}

.chat-display-chat-send-message-form {
  display: flex;
  min-width: 0;
  max-width: 100%;
  margin: 15px 5px 20px 10px;
  flex: 1 1 1px;
}

.chat-display-chat-message-field {
  display: flex;
  padding: 2.5px;
  padding-left: 5px;
  font-size: 18px;
  border-radius: 5px;
  width: 100%;
  height: 27.5px;
  align-items: center;
}

.chat-display-chat-send-message-form-img {
  max-width: 100%;
  margin-left: 2px;
  margin-bottom: 2px;
  width: 27px;
  height: 34.5px;
}

.msg-placeholder-msg-field {
  display: flex;
  width: 95%;
  margin-left: 2px;
  margin-bottom: 2px;
  height: 30px;
}

.msg-placeholder-img-me {
  margin-left: auto;
  width: 45%;
  height: 25px;
  margin-right: 4px;
  padding: 6px;
}

.msg-placeholder-img-contact {
  margin-right: auto;
  width: 45%;
  height: 25px;
  padding: 6px;
}

.mobile-time-time-stamp{

}

@media screen and (max-width: 768px) {
  .chat-display-chat-send-message-form {
    margin-bottom: 0px;
    margin-left: 10px;
  }

  .chat-display-chat-container,
  .chat-display-chat-container-loading {
    height: calc(100vh - 110px);
  }

  .chat-display-chat {
    max-height: calc(100vh - 110px);
    margin-top: 2.5px;
  }
}
