.chat-display-about {
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  flex: 1 1 1px;
}

.chat-about-name-placeholder {
  display: flex;
  align-self: center;
  width: 85%;
  height: 27.5px;
  margin-top: 2.5px;
}

.chat-display-about-name-header{
  font-size: 22px;
  font-weight: bold;
  align-self: center;
  max-width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflow-content{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.chat-display-about h3 {
  align-self: center;
}

.chat-display-about-img {
  margin-top: 10px;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  align-self: center;
}

.chat-about-content-placeholder {
  width: 85%;
  height: 90%;
  align-self: center;
  margin-bottom: 5px;
}

.chat-display-about-content {
  margin-top: 7.5px;
  flex-direction: column;
  max-width: 85%;
  margin-bottom: 5px;
  align-self: center;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1 1 1px;
  word-wrap: break-word;
}

.mobile-nav-about-img {
  width: 20px;
  height: 30px;
  margin: 5px 0 0 5px;
  position: absolute;
}

@media screen and (max-height: 400px){
  .chat-display-about-img {
    width: 150px;
    height: 150px;
  }
}

