.front-page-background {
  background-color: #434750;
  height: 100vh;
  text-align: center;
}

.front-page-container {
  margin-top: 5vh;
  display: inline-block;
  background-color: white;
  border-radius: 15px;
  width: 65vw;
  border: 1px solid black;
}

.front-page {
  height: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: "info content";
}

.front-page-info {
  grid-area: "info";
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: white;
  background-color: #00a8f3;
}

.front-page-header {
  text-align: center;
}

.front-page-content {
  grid-area: "content";
}

.footer {
  position: absolute;
  bottom: 20px;
  right: 25px;
}

.logo {
  float: left;
  padding: 0;
  margin-right: 2.5px;
  width: 50px;
  height: 50px;
}

.front-page-form {
  margin-top: 5px;
}

.front-page-form-div {
  padding: 2px 2px;
}

.label-front-page-form,
.input-front-page-form {
  display: inline-block;
}

.label-front-page-form {
  width: 30%;
  text-align: right;
}

.label-front-page-form + .input-front-page-form {
  width: 30%;
}

.input-front-page-form + .input-front-page-form {
  float: right;
}
