.front-page-background {
  background-color: #257fbd;
  height: 100vh;
}

.front-page-wrapper {
  display: flex;
  justify-content: center;
}

.front-page-container {
  display: inline-block;
  background-color: white;
  margin-top: 12.5vh;
  border-radius: 15px;
  width: 60vw;
  left: 50%;
}

.front-page {
  display: grid;
  grid-template-columns: 40% 60%;
  text-align: center;
}

.front-page h1 {
  font-size: 40px;
}

.front-page-info {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: white;
  background-color: #00a8f3;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.front-page-info-about {
  margin-top: 60px;
}

.front-page-header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.front-page-content {
  margin-top: 10px;
  padding: 10px;
  padding-bottom: 20px;
}

.front-page-form {
  margin-top: 15px;
}

.front-page-form-div {
  padding: 2px 2px;
}

.input-front-page-form {
  padding: 2.5px;
  padding-left: 2.5px;
  margin-bottom: 2.5px;
  font-size: 22px;
  display: inline-block;
  border-top: none;
  border-left: none;
  border-right: none;
}

.front-page-back-button {
  font-size: 16px;
  color: #696969;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  margin-right: 7px;
  background-color: #f1f0f0;
  border-color: #f1f0f0;
  width: 130px;
}

.front-page-submit-button {
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #00a8f3;
  color: white;
  margin-top: 10px;
  width: 80px;
}

.front-page-submit-button:hover {
  background-color: darkblue;
  border-color: darkblue;
}

@media (max-width: 912px) {
  .front-page-content p {
    font-size: 16px;
  }

  .input-front-page-form {
    font-size: 16px;
  }
  .front-page-back-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }

  .front-page-submit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7.5px;
  }
}

@media (max-width: 768px) {
  .front-page-container {
    margin-top: 5%;
    width: 80vw;
  }

  .front-page {
    display: block;
  }

  .front-page h1 {
    font-size: 32px;
  }

  .front-page h3 {
    margin-top: 0px;
  }

  .front-page-header {
    margin-top: 1px;
    margin-bottom: 0px;
  }

  .front-page-info {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    padding-top: 2.5px;
    padding-bottom: 5px;
  }
  .front-page-info-about {
    margin-top: 2.5px;
  }

  .front-page-content {
    margin-top: 2.5px;
    padding: 5px;
    padding-bottom: 10px;
  }

  .front-page-content p {
    font-size: 16px;
  }

  .front-page-form {
    margin-top: 0px;
  }

  .input-front-page-form {
    font-size: 16px;
  }

  .front-page-back-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }

  .front-page-submit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7.5px;
  }
}
