.login-page-sign-up-container {
  margin-top: 15px;
}

.input-login-username {
  font-size: 26px;
  padding: 2.5px;
  padding-left: 25px;
  margin-bottom: 2.5px;
  margin-top: 5px;
  display: inline-block;
  border-top: none;
  border-left: none;
  border-right: none;
  background-position: 0px 9px;
  background-size: 20px 20px;
  background-image: url("/images/user.png");
  background-repeat: no-repeat;
  max-width: 70%;
}

.input-login-password {
  font-size: 26px;
  padding: 2.5px;
  padding-left: 25px;
  margin-bottom: 5px;
  display: inline-block;
  border-top: none;
  border-left: none;
  border-right: none;
  background-position: 0px 10px;
  background-image: url("/images/password.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  max-width: 70%;
}

.forgot-button {
  margin-top: 15px;
  border: none;
  background-color: white;
  color: grey;
  text-decoration: underline;
}

.grey-text {
  color: grey;
}

.sign-up-button {
  border: none;
  background-color: white;
  padding-left: 0px;
  color: grey;
  text-decoration: underline;
  font-size: 15px;
}

.login-page-button {
  color: white;
  background-color: #00a8f3;
  margin-top: 15px;
  font-size: 16px;
  width: 120px;
}

.login-page-verify-button {
  color: white;
  background-color: #00a8f3;
  margin-top: 15px;
  font-size: 16px;
  width: 130px;
}

.login-page-button:hover {
  background-color: darkblue;
  border-color: darkblue;
}

.back-to-login {
  margin-right: 5px;
}

.logo-container {
  margin-top: 20px;
}

.logo-container img {
  width: 40px;
  height: 40px;
}

.linkedIn-logo {
  margin-right: 2.5px;
}

.gitHub-logo {
  margin-left: 2.5px;
}

@media screen and (max-width: 768px) {
  .login-page-sign-up-container {
    margin-top: 5px;
  }
  .input-login-username {
    margin-top: 0px;
    font-size: 20px;
    background-position: 0px 6px;
  }
  .input-login-password {
    margin-top: 0px;
    font-size: 20px;
    background-position: 0px 8px;
  }

  .forgot-button {
    margin-top: 2.5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .login-page-button {
    margin-top: 10px;
    font-size: 16px;
  }

  .logo-container {
    margin-top: 7.5px;
  }

  .login-page-validate-button {
    margin-top: 7.5px;
  }
}
