.bold {
  font-weight: bold;
}

.confirm-code-button {
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #00a8f3;
  color: white;
  margin-top: 10px;
  width: 90px;
}

.validate-info-container {
  margin: 7.5px 7.5px;
}

@media (max-width: 768p) {
  .sign-up-content input {
    font-size: 16px;
  }
  .sign-up-content h2 {
    font-size: 16px;
  }
}
