#about {
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding-bottom: 40px;
}

#about h3 {
  align-self: center;
}

#about-contact-name-placeholder {
  display: flex;
  margin-top: 2.5px;
  width: 85%;
  height: 27.5px;
  align-self: center;
}

#about-contact-name {
  align-self: center;
  min-width: 0;
  max-width: 85%;
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#about-contact-img {
  align-self: center;
  margin-top: 10px;
  border-radius: 50%;
  width: 175px;
  height: 175px;
}

#about-content-placeholder {
  align-self: center;
  margin-bottom: 5px;
  width: 85%;
  height: 70%;
}

#about-content {
  align-self: center;
  flex-direction: column;
  flex: 1 1 1px;
  margin: 7.5px 0 5px;
  max-width: 85%;
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  word-wrap: break-word;
}

#mobile-nav-about-back-img {
  position: absolute;
  width: 20px;
  height: 30px;
  margin: 5px 0 0 5px;
}

@media (max-width: 768px) {
  #about {
    height: calc(100vh - 60px);
    padding-bottom: 2.5px;
  }
  #about-contact-img {
    width: 150px;
    height: 150px;
  }
}