#chat-display {
  display: grid;
  grid-template-columns: 66% 34%;
}

#chat-display-default-content {
  border-left: 1px solid #dcdcdc;
  height: calc(100vh - 65px);
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  #chat-display{
    display: flex;
    flex-direction: column;
    flex: 1 1 1px;
    min-width: 0;
  }
  #chat-display-default-content  {
    border-left: none;
    height: calc(100vh - 100px);
    text-align: center;
  }
}