.banner {
  background-color: #00a8f3;
  padding-bottom: 5px;
  position: relative;
  max-height: 65px;
}

.banner-title {
  color: white;
  font-size: 44px;
  cursor: pointer;
  padding-left: 15px;
  display: inline-block;
}

.banner-title:hover {
  cursor: pointer;
}

.banner-link {
  color: white;
  text-decoration: none;
}

.user-wrapper {
  float: right;
  margin-right: 25px;
  margin-top: 12px;
  position: relative;
}

.user {
  display: flex;
  color: white;
  font-size: 24px;
  align-items: center;
  position: inherit;
}

.user-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: inherit;
}

.user-name {
  margin: 0 7.5px 0 7.5px;
  position: inherit;
  display: inline-block;
  max-width: 225px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  position: inherit;
}

.dropdown {
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: black;
  background-color: white;
  position: inherit;
}

.dropdown img {
  margin-top: 2.5px;
  width: 20px;
  height: 20px;
  position: inherit;
}

.dropdown:hover {
  cursor: pointer;
  background-color: #dcdcdc;
}

.dropdown-content {
  right: 0px;
  margin-top: 100px;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  color: black;
  background-color: white;
  min-width: 110px;
  box-shadow: 0px 5px 5px 0px black;
  padding: 10px;
  border-radius: 10px;
  z-index: 2;
}

.dropdown-profile,.dropdown-settings,.dropdown-logout {
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-profile {
  background-position: 2.5px 8px;
  background-image: url("/images/profile.png");
  background-repeat: no-repeat;
  padding-left: 5px;

}

.dropdown-profile-content {
  margin-left: 27.5px;
}

.dropdown-settings {
  background-position: 2.5px 7px;
  background-image: url("/images/settings.png");
  background-repeat: no-repeat;
}

.dropdown-settings-content {
  margin-left: 22.5px;
}

.dropdown-logout {
  background-position: 2.5px 7px;
  background-image: url("/images/logout.png");
  background-repeat: no-repeat;
}

.dropdown-logout-content {
  margin-left: 23.5px;
}

@media screen and (max-width: 912px) {
  .user-wrapper {
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .banner-title {
    font-size: 32px;
    padding-left: 5px;
  }
  .user-wrapper {
    margin-top: 4.5px;
  }

  .user {
    font-size: 22px;
  }

  .dropdown {
    margin-top: 0px;
  }
}
