.chat-main {
  height: 100%;
  grid-template-columns: 25% 75%;
  display: grid;
  grid-template-areas: "left right";
  margin-top: 55px
}

.chat-left {
  grid-area: left;
  min-height: 100%;
  height: 100%;
  border-right: 1px solid #dcdcdc;
}

.chat-search {
  font-size: 22px;
  padding-top: 10px;
}

.searchContacts {
  padding: 10px;
  background-position: 0 5px;
  background-image: url("../../../images/search.png");
  background-repeat: no-repeat;
  font-size: 16px;
  padding-left: 25px;
  width: 87.5%;
}

.chat-dropdown {
  display: inline-block;
  font-size: 18px;
  color: black;
  background-color: white;
  width: 100%;
  padding-top: 10px;
}

.chat-dropdown div {
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.chat-dropdown div:hover {
  cursor: pointer;
  background-color: #dcdcdc;
}

.chat-dropdown span {
  padding-right: 5px;
}

.chat-dropdown img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.chat-display-parent {
  grid-area: "right";
  display: grid;
  grid-template-columns: 66% 33%;
  grid-template-areas: "chat about";
  padding-top: 5px;
  height: 100%;
}

.chat-display-default {
  padding: 10px 0 0 5px;
}

.chat-display-about {
  grid-area: "about";
  height: 100%;
  text-align: center;
}

.chat-display-about img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.chat-display-chat {
  border-right: 1px solid #dcdcdc;
  grid-area: "chat";
  height: 100%;
  position: relative;
}

.chat-display-chat form {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.chat-display-chat-message {
  font-size: 20px;
  width: 96%;
  overflow: scroll;
}

.chat-message-wrapper{
  font-size: 18px;
  display: inline-block;
  padding: 1px 1px;
  width: 100%;
}

.chat-my-message {
  color: white;
  background-color: #0099ff;
  padding: 8px;
  float: right;
  max-width: 60%;
  margin-right: 5px;
  border-radius: 15px;
}

.chat-contact-message {
  background-color: #f1f0f0;
  padding: 8px;
  float: left;
  max-width: 60%;
  margin-left: 5px;
  border-radius: 15px;
}

.chat-history-container{
  margin-top: 10px;
}

.chat-history-wrapper{
  display: grid;
  cursor: pointer;
}

.chat-history-wrapper :hover{
  background-color:#f1f0f0; ;
}

.chat-history-wrapper img{
  width: 40px;
  height: 40px;
}

.chat-history-name-header{

}

.chat-history-details{
  display: inline;
}

