.chat-main {
  height: 100%;
  grid-template-columns: 25% 75%;
  display: grid;
  grid-template-areas: "left right";
  margin-top: 55px;
}

.chat-left {
  grid-area: left;
  min-height: 100%;
  height: 100%;
  border-right: 1px solid #dcdcdc;
}

.chat-search {
  font-size: 22px;
  padding-top: 10px;
}

.searchContacts {
  padding: 10px;
  background-position: 0 5px;
  background-image: url("../../../images/search.png");
  background-repeat: no-repeat;
  font-size: 16px;
  padding-left: 25px;
  width: 87.5%;
}

.chat-dropdown {
  display: inline-block;
  font-size: 18px;
  color: black;
  background-color: white;
  width: 100%;
  padding-top: 10px;
}

.chat-dropdown div {
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.chat-dropdown div:hover {
  cursor: pointer;
  background-color: #dcdcdc;
}

.chat-dropdown span {
  padding-right: 5px;
}

.chat-dropdown img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.chat-display-parent {
  grid-area: "right";
  display: grid;
  grid-template-columns: 66% 33%;
  grid-template-areas: "chat about";
  padding-top: 5px;
  height: 100%;
}

.chat-display-default {
  padding: 10px 0 0 5px;
}


.chat-display-about {
  border-left: 1px solid #dcdcdc;
  grid-area: "about";
  height: 100%;
  text-align: center;
}

.chat-about-name-placeholder{
  display: block;
  margin: 1vh 1vh;
  margin-left: auto;
  margin-right: auto;
  width: 20vh;
  height: 5vh;
}

.chat-display-about-img {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
}

.chat-about-content-placeholder{
  width: 45vh;
  height: 40vh;
}

.chat-display-about-content {
  display: inline-block;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
  max-height: 45vh;
}

.chat-display-chat-parent {
  margin-top: 5px;
  grid-area: "chat";
  position: relative;
}

.chat-display-chat {
  max-height: 82.5vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.chat-display-chat-send-message-form {
  top: 86.5vh;
  padding-left: 5px;
  position: absolute;
  width: 100vh;
}

.chat-display-chat-message-field {
  font-size: 22px;
  width: 95.5vh;
}

.chat-message-wrapper {
  font-size: 18px;
  display: inline-block;
  padding: 3px 3px;
  width: 100%;
}

.chat-my-message {
  color: white;
  background-color: #0099ff;
  padding: 6px 8px 6px 8px;
  float: right;
  max-width: 60%;
  margin-right: 8px;
  border-radius: 15px;
  word-wrap: break-word;
}

.chat-contact-message {
  background-color: #f1f0f0;
  padding: 6px 8px 6px 8px;
  float: left;
  max-width: 60%;
  margin-left: 8px;
  border-radius: 15px;
  word-wrap: break-word;
}

.chat-history-container {
  margin: 10px 5px 0 5px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 600px;
}

.chat-history-wrapper-current {
  display: grid;
  grid-template-columns: 12.5% 87.5%;
  grid-auto-rows: 22.5px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #f1f0f0;
}

.chat-history-wrapper {
  display: grid;
  grid-template-columns: 12.5% 87.5%;
  grid-auto-rows: 22.5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.chat-history-unread {
  font-weight: bold;
}

.chat-history-wrapper-img {
  width: 40px;
  height: 40px;
  border-radius: 90%;
}

.chat-history-img-container {
  grid-column: 1;
}

.chat-history-name-header {
  grid-column: 2;
  grid-row: 1;
}

.chat-history-name-header-placeholder {
  width: 10vh;
  height: 2.5vh;
}

.chat-history-content-placeholder{
  width: 42vh;
  height: 2.5vh;
}

.chat-history-content {
  grid-column: 2;
  grid-row: 2;
}

.chat-history-time {
  float: right;
  padding-right: 10px;
}

.chat-history-placeholder {
  width:  50vh;
  height: 10vh;
}

.msg-placeholder-img-me{
  float: right;
  width: 35vh;
  height: 3vh;
  padding: 6px 8px 6px 8px;
  margin-right: 8px;
}

.msg-placeholder-img-contact{
  float: left;
  padding: 6px 8px 6px 8px;
  width: 35vh;
  height: 3vh;
  margin-left: 8px;
}