.chat-display-default {
  padding: 10px 0 0 5px;
}

.chat-display-about {
  border-left: 1px solid #dcdcdc;
  text-align: center;
}

.chat-about-name-placeholder {
  display: block;
  margin: 1vh 1vh;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 35px;
}

.chat-display-about h1 {
  margin-bottom: 10px;
  font-size: 22px;
}

.chat-display-about-img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.chat-about-content-placeholder {
  width: 360px;
  height: 350px;
}

.chat-display-about-content {
  margin-top: 10px;
  display: inline-block;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 360px;
  max-height: 47.5vh;
}

@media (max-width: 950px) {
  .chat-display-about {
    display: none;
  }
}
