.chat-display-default {
  padding: 10px 0 0 5px;
}

.chat-display-about {
  border-left: 1px solid #dcdcdc;
  grid-area: "about";
  text-align: center;
}

.chat-about-name-placeholder {
  display: block;
  margin: 1vh 1vh;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 35px;
}

.chat-display-about h1{
  margin-bottom: 10px;
}

.chat-display-about-img {
  width: 225px;
  height: 225px;
  border-radius: 50%;
}

.chat-about-content-placeholder {
  width: 360px;
  height: 350px;
}

.chat-display-about-content {
  margin-top: 10px;
  display: inline-block;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 360px;
  max-height: 42.5vh;
}
