.profile-main {
  margin-top: 2.5vh;
  width: 100%;
  text-align: center;
}

.profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35vh;
  height: 35vh;
  border-radius: 50%;
}

.about-text-area {
  height: 30vh;
  width: 45vh;
  resize: none;
}

.about-img-placeholder{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30vh;
  width: 45vh;
}

.profile-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
