* {
  padding: 0px;
  margin: 0px;
}

.profile-main {
  display: grid;
  margin-top: 65px;
  width: 100%;
  justify-content: center;
}

.profile-image{
  width: 200px;
  height: 200px;
}

.about-button{
  width: 100px;
}

.about-input{
  height: 200px;
  width: 400px;
}




