.main-settings {
  margin: 10px 7.5% 0 65px;
  font-size: 22px;
  display: grid;
  grid-template-columns: 25% 75%;
}

.main-settings-left {
  width: 95%;
}

.settings-dropdown {
  font-size: 22px;
  margin: 15px 0 0 40px;
}

.settings-active-tab {
  background-color: #ecf2fe;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  cursor: pointer;
}


.settings-tab {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
}

.settings-tab:hover {
  background-color: #f1f0f0;
}

.general-content,
.security-content {
  display: flex;
  padding: 2.5px 0 0 8.5px;
  pointer-events: inherit;
}

.general-settings-image,
.security-settings-image {
  width: 30px;
  height: 30px;
  margin-top: 2.5px;
  pointer-events: inherit;
}

.change {
  font-size: 20px;
  margin-left: auto;
  color: blue;
  border: none;
  cursor: pointer;
}
.change:hover {
  text-decoration: underline;
  cursor: pointer;
}

.change-edit-password {
  font-size: 20px;
  margin-left: auto;
  color: blue;
  border: none;
  float: right;
  cursor: pointer;
}

.bold-text {
  font-weight: bold;
}

.settings-info {
  width: 600px;
  margin: 0 10px 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.settings-divider-container {
  border-bottom: 1px solid black;
}

.settings-divider-inside-flex {
  border-bottom: 1px solid hsl(0, 0%, 86%);
  padding: 15px;
  display: flex;
  align-items: center;
}

.settings-divider-inside-single-flex {
  border-bottom: 1px solid black;
  padding: 15px;
  display: flex;
  align-items: center;
}

.settings-divider-inside {
  border-bottom: 1px solid #dcdcdc;
  padding: 15px;
}

.settings-divider-inside-single {
  border-bottom: 1px solid black;
  padding: 15px;
}

.settings-save-changes {
  font-size: 16px;
  color: white;
  background-color: #00a8f3;
  margin: 7.5px 5px 0 0;
  width: 120px;
}

.settings-cancel-changes {
  font-size: 16px;
  color: #696969;
  margin-top: 7.5px;
  background-color: #f1f0f0;
  width: 70px;
}

.settings-form {
  margin-top: 5px;
}

.label-settings-form,
.label-settings-form-password {
  display: inline-block;
  margin-bottom: 5px;
  width: 115px;
}

.label-settings-form-password {
  width: 235px;
}

.input-settings-form {
  display: inline-block;
  margin-left: 5px;
  padding-left: 2.5px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 5px;
  width: 225px;
}

.success {
  color: green;
  font-size: 20px;
  font-weight: bold;
  margin: 2.5px 0 7.5px 0;
}

.settings-hamburger-menu {
  z-index: 1;
  display: inline-block;
  position: absolute;
  margin-top: 7px;
}

.settings-hamburger-menu img {
  width: 30px;
  height: 30px;
}

@media (max-width: 950px) {
  .main-settings {
    display: block;
    margin: 0 5px 0 5px;
  }
  .main-settings h1 {
    margin-left: 35px;
    font-size: 32px;
  }

  .settings-divider-inside,
  .settings-divider-inside-single {
    margin-right: 5px;
  }
  .settings-form{
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .main-settings {
    font-size: 18px;
  }
  .main-settings h1 {
    font-size: 28px;
    margin-left: 27.5px;
  }

  .change {
    font-size: 18px;
  }

  .settings-hamburger-menu img {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 450px) {
  .main-settings {
    font-size: 16px;
  }
  .change {
    font-size: 16px;
  }

  .settings-info {
    max-width: 200px;
  }
}
