.main-settings {
  margin-left: 65px;
  margin-top: 10px;
  font-size: 22px;
  display: grid;
  grid-template-columns: 22.5% 70%;
}

.main-left {
  width: 95%;
}

.settings-dropdown {
  font-size: 22px;
  margin: 15px 0 0 40px;
  cursor: pointer;
}

.settings-active-tab {
  background-color: #ecf2fe;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
}

.settings-tab {
  margin: 10px 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
}

.general-content {
  padding-left: 8.5px;
  padding-top: 2.5px;
}

.general-settings-image {
  width: 30px;
  height: 30px;
}

.security-content {
  padding-left: 8.5px;
  padding-top: 2.5px;
}

.security-settings-image {
  width: 30px;
  height: 30px;
}

.settings-tab:hover {
  background-color: #f1f0f0;
}

.main-right input {
  margin-left: 7.5px;
  border-radius: 1px;
  padding-left: 2px;
  font-size: 16px;
}

.change {
  font-size: 20px;
  float: right;
  color: blue;
  border: none;
}

.change:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bold-text {
  font-weight: bold;
  margin-right: 10px;
}

.settings-divider-container {
  border-bottom: 1px solid black;
}

.settings-divider-inside {
  border-bottom: 1px solid #dcdcdc;
  padding: 15px;
}

.settings-divider-inside-single {
  border-bottom: 1px solid black;
  padding: 15px;
}

.settings-save-changes {
  color: white;
  background-color: #00a8f3;
  margin-top: 7.5px;
  margin-right: 5px;
  margin-left: 20.75%;
  width: 10%;
}

.settings-cancel-changes {
  color: #696969;
  margin-top: 7.5px;
  background-color: #f1f0f0;
  width: 10%;
}

.settings-form{
  margin-top: 5px;
}

.label-settings-form{
  display: inline-block;
  margin-bottom: 5px;
}

.input-settings-form {
  display: inline-block;
  margin-left: 5px;
  padding-left: 2.5px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 5px;
}

.label-settings-form {
  width: 30%;
  text-align: right;
}

.label-settings-form + .input-settings-form {
  width: 20%;
}

.input-settings-form + .input-settings-form {
  float: right;
}

.error{
  margin-left: 5px;
}
