/* .front-page-background {
  height: 100vh;
  background-color: #257fbd;
} */

.front-page-wrapper {
  display: flex;
  justify-content: center;
}

.front-page-container {
  left: 50%;
  display: inline-block;
  margin-top: 7.5vh;
  border-radius: 15px;
  width: 60vw;
  background-color: white;
}

.front-page {
  display: grid;
  grid-template-columns: 40% 60%;
  text-align: center;
}

.front-page h1 {
  font-size: 40px;
}

.front-page-info {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px 10px 40px 10px;
  background-color: #00a8f3;
  color: white;
}

.front-page-info-about {
  margin-top: 60px;
}

.front-page-header {
  margin: 10px 0 10px 0;
}

.front-page-content {
  margin-top: 10px;
  padding: 10px 10px 20px 10px;
}

.front-page-form {
  margin-top: 15px;
}

.front-page-form-div {
  padding: 2px 2px;
}

.input-front-page-form {
  display: inline-block;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 2.5px;
  font-size: 22px;
}

.front-page-back-button {
  margin: 10px 7px 0 0;
  width: 130px;
  padding: 0 5px 0 5px;
  border-color: #f1f0f0;
  background-color: #f1f0f0;
  font-size: 16px;
  text-decoration: none;
  color: #696969;
}

.front-page-submit-button {
  margin-top: 10px;
  width: 80px;
  padding: 0 5px 0 5px;
  background-color: #00a8f3;
  font-size: 16px;
  color: white;
}

.front-page-submit-button:hover {
  border-color: darkblue;
  background-color: darkblue;
}

@media (max-width: 912px) {
  .front-page-content p {
    font-size: 16px;
  }

  .input-front-page-form {
    font-size: 16px;
  }
  .front-page-back-button {
    display: block;
    margin: 5px auto 0 auto;
  }

  .front-page-submit-button {
    display: block;
    margin: 7.5px auto 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .front-page-container {
    margin-top: 7.5%;
    width: 80vw;
  }

  .front-page {
    display: block;
  }

  .front-page h1 {
    font-size: 32px;
  }

  .front-page h3 {
    margin-top: 0px;
  }

  .front-page-header {
    margin-top: 1px;
    margin-bottom: 0px;
  }

  .front-page-info {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0px;
    padding-top: 2.5px;
    padding-bottom: 5px;
  }
  .front-page-info-about {
    margin-top: 2.5px;
  }

  .front-page-content {
    margin-top: 2.5px;
    padding: 5px;
    padding-bottom: 10px;
  }

  .front-page-content p {
    font-size: 16px;
  }

  .front-page-form {
    margin-top: 0px;
  }

  .input-front-page-form {
    font-size: 16px;
  }

  .front-page-back-button {
    display: block;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
  }

  .front-page-submit-button {
    display: block;
    margin-top: 7.5px;
    margin-right: auto;
    margin-left: auto;
  }
}
