.bold {
  font-weight: bold;
}

.confirm-code-button {
  margin-top: 10px;
  width: 90px;
  padding: 0 5px 0 5px;
  background-color: #00a8f3;
  font-size: 14px;
  color: white;
}

.verify-info-container {
  margin: 7.5px;
}

@media screen and (max-width: 768p) {
  .sign-up-content input {
    font-size: 16px;
  }
  .sign-up-content h2 {
    font-size: 16px;
  }
}
